.input {
  padding: 7px 8px;
  width: 100%;
  font-family: "Inter", sans-serif;
  background: unset;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid var(--border-color);
  background: var(--bg-color-light);
  color: var(--text-color-dark);
}

.input::placeholder {
  color: var(--text-color-dark);
}
