.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75vh;
  padding: 55px 54px;
  background-color: var(--bg-color-light);
  z-index: 12;
}

.close {
  position: absolute;
  top: 22px;
  right: 26px;
}

@media (max-width: 724px) {
  .container {
    overflow-y: auto;
  }
}
